 

***I denne versjonen har vi fjernet fjervalgsoppgavene som til vanlig teller 25% av eksamen. Topp prosentscore er da altså 75%.***

# Eksamen 2018

## Task 3 - multigames: beskrivelse

Du	er	med	i	arrangementskomitéen	for	de	årlige	flerkamplekene	som	arrangeres	i	bygården du	bor	i.	Alle	deltakere	er	med	på	fem	ulike	øvelser,	og	resultatene	lagres	i	en	fil	på	følgende format	(se	også	nederst	i	funksjonshjelpen	til	venstre):

Name,				Poker,		Highjump,		Balloonshooting,	SausageEating,		HoldBreath

John,  8,									1.67,						17,														23,													2:01.65

Lisa,				12,								1.30,						12,														13,													1:13.02

Per,					8,									1.55,						8,															0,														1:51.35

Nelly,			2,									1.34,						9,															17,													0:31.18

Jørn,				5,									1.87,						13,														5,														2:01.65

...	listen	fortsetter	med	én	linje	for	hver	deltaker.	Du	kan	forutsette	at	alle	deltakerne	har verdier	for	alle	øvelsene,	selv	om	noen	av	dem	kan	ha	0.	Du	kan	også	forutsette	at	i	senere oppgaver	betyr	høyere	verdi	i	en	øvelse	et	BEDRE	resultat.

For	å	gi	lesbarhet	har	denne	filen	litt	spesiell	struktur.	Hvert	element	er	separert	med	et komma	‘,’	og	et	**variabelt**	antall	mellomrom	(whitespace)	‘    ‘.

Deltakernes	navn	er	skrevet	i	første	kolonne.	**Deltakernes	rekkefølge	er	ukjent**. Tilsvarende	inneholder	den	første	raden	navnet	på	øvelsene.	**Øvelsenes	rekkefølge	kan også	variere	(men	den	er	lik	for	alle	deltakerne)**.	I	de	følgende	oppgavene	må	dere derfor	velge	en	løsning	som	tar	hensyn	til	at	man	ikke	kan	vite	at	resultatene	fra ballongskytingen	kommer	i	kolonne	3	og	liknende.	Du	kan	derimot	forutsette	at	resultatet	til hver	deltaker	i	en	øvelse	er	i	samme	kollonne	som	øvelsens	navn.

### Eksisterende	funksjon	du	kan	bruke	ved	behov

Det	eksisterer	en	allerede	kodet	funksjon	dere	kan	bruke	ved	behov,	kalt sort_list(mylist,elemnum).	Den	tar	to	parametre.	Den	første	er	en	todimensjonal	liste.	Den andre	parameteren	bestemmer	hvilken	kolonne	listen	skal	sorteres	på.	Funksjonen returnerer	den	samme	listen,	men	med	elementene	sortert	etter	valgt	elementnummer.Eksempel	på	bruk	av	sort_list(mylist,elemnum):	Legg	merke	til	at	den	sorterer	på	verdien	av den	andre	elementet	i	hver	subliste	ved	å	kalle	sort_list med parameteren 1.
```python
>>> sort_list([['John',8],['Lisa',12],['Per',8]],1)
[['Lisa',12],['John',8],['Per',8]]
#Her kom ['Lisa', 12] først siden 12 var det høyeste tallet	
```

In [1]:
def sort_list(mylist,elemnum):
    return sorted(mylist,key=lambda l:l[elemnum], reverse=True)

#Du trenger ikke henge deg opp i hvordan denne koden fungerer. Du kan benytte deg av den likevel.

## Oppgave 3a - Programmering (5%)

Skriv	funksjonen	**read_file**	som	tar	en	inn-parameter	**filename**.	Denne	funksjonen	skal	lese inn	en	tekstfil	**filename**,	som	bekriver	resultatene	fra	årets	flerkamp-konkurranse.Resultatene	er	lagret	i	tekstfilen	*flerkamp.txt*,	som	ligger	i	denne	mappen.	Resultatene	i	tekstfilen	er	på	formatet	beskrevet over.	Funksjonen	skal	returnere	innholdet	i	tekstfilen	i	form	av	én	lang	streng.	Dersom	filen ikke	finnes	skal	funksjonen	skrive	ut	feilmeldingen	"Kan	ikke	finne	filen	flerkamp.txt"	til skjermen,	og	returnere	verdien	*None*.

Eksempel	på	kjøring	av	funksjonen	og	utskrift	av	returverdi:
```python
>>> resultater = read_file('flerkamp.txt')
>>> resultater
'Name,    Poker,  Highjump,  Balloonshooting, SausageEating,  HoldBreath\nJohn,    8,        1.67,      17,              23,             2:01.65\nLisa,    12,        1.30,      12,              13,            1:13.02\nPer,     8,         1.55,      8,               0,              1:51.35\nNelly,   2,        1.34,      9,               17,             0:31.18\nNora,    5,         1.87,      13,              5,             2:01.65\n
```

In [24]:
#skriv koden din her

## Oppgave 3b - programmering (5%)

Skriv	funksjonen	**`list_from_string`**	som	tar	inn	strengen	**txt**	som	inn-parameter.	Forutsett at	**txt**	har	et	format	tilsvarende	én	enkelt	linje	i	*flerkamp.txt*,	dvs.	et	sett	med	verdier	(navn og	resultat	per	øvelse)	separert	med	komma	og	et	vilkårlig	antall	mellomrom	(whitespace). Funksjonen	skal	returnere	en	liste	med	strenger	som	beskriver	de	enkelte	verdiene. Eventuelle	mellomrom,	linjeskift	eller	tabulatorer	(whitespace)	i	strengen	må	fjernes	fra hvert	element	i	listen	før	listen returneres.

Eksempel på bruk:

```python 
>>>> list_from_string("Lisa,  12,   1.30,   12,    13,  1:13.02\n")
['Lisa','12','1.30','12','13','1:13.02']
```

In [25]:
#skriv koden din her

## Oppgave 3c - Programmering (5%)

Skriv	funksjonen	**`make_result_list`**	som	tar	inn	strengen	returnert	av	funksjonen	**read_file**(Oppgave	3a)	som	inn-parameter.	Funksjonen	**`make_result_list`**	skal	returnere	en	to-dimensjonal	liste	der	hvert	listeelement	er	en	liste	som	innholder	verdiene	fra	hver	linje	i filen	*flerkamp.txt*.	Bruk	gjerne	funksjonen	**`list_from_string`**	(Oppgave	3b)	i	løsningen	din.

Eksempel	på	bruk:
```python
>>> string=read_file('flerkamp.txt')
>>> string
'Name,    Poker,  Highjump,  Balloonshooting, SausageEating,  HoldBreath\nJohn,    8,        1.67,      17,              23,             2:01.65\nLisa,    12,        1.30,      12,              13,            1:13.02\nPer,     8,         1.55,      8,               0,              1:51.35\nNelly,   2,         1.34,      9,              17,             0:31.18\nNora,    5,         1.87,      13,              5,              2:01.65'
>>> results=make_result_list(string)
>>> results
[['Name','Poker','Highjump','Balloonshooting','SausageEating','HoldBreath'],['John','8','1.67','17','23','2:01.65'],['Lisa','12','1.30','12','13','1:13.02'],['Per','8','1.55','8','0','1:51.35'],['Nelly','2','1.34','9','17','0:31.18'],['Nora','5','1.87','13','5','2:01.65']]
```

In [26]:
#skriv koden din her

## Oppgave 3d - Programmering (6%)

Skriv	funksjonen	**`time_to_seconds`**	som	tar	strengen	**time**	som	inn-parameter.	Strengen	angir	en	deltakers	sluttid	i	en	øvelse	(f.eks.	holde	pusten	lengst	mulig)	og	vil	ha følgende	format:	*min:sek.hundredeler*.	Funksjonen	skal	gjøre	om	strengen	til	et	flyttall med	formatet	*sekunder.hundredeler*	og	returnere	dette	flyttallet.	Eksempel	på	bruk:
```python
>>> time_to_seconds('2:01.65')
121.65
>>> print(type(time_to_seconds('2:21.65'))
<class 'float'>
```

In [27]:
#skriv koden din her

## Oppgave 3e - Programmering (9%)

Skriv funksjonen **`str_to_numbers`**	som	tar	inn	**results**,	en	to-dimensjonal liste,	som	parameter.	Funksjonen	skal	kunne	ta	inn	den	to-dimensjonale	listen	som returneres	fra	funksjonen	**`make_result_list`**	(Oppgave	3c)	og	gjøre	om	tall	på	strengformat til	heltall	eller	flyttall.	Hvis	et	element	har	formatet	‘2:23.56’	skal	disse	gjøres	om	til	antall sekunder	og	antall	hundredeler	(altså	her	143.56	som	flyttall).	Hvis	elementet	har	formatet '1.3'	skal	det	gjøres	om	til	et	flyttall,	mens	hvis	strengen	bare	inneholder	et	tall	som	'12' skal	den	gjøres	om	til	et	heltall.	Funksjonen	str_to_numbers	skal	returnere	den	formaterte(to-dimensjonale)	listen.

Eksempel	på	bruk:
```python
>>> #results inneholder resultatet fra oppgave 3c, og den har følgende format:
>>> results #Dette er formatet fra oppgave 3c
[['Name','Poker','Highjump','Balloonshooting','SausageEating','HoldBreath'],['John','8','1.67','17','23','2:01.65'],['Lisa','12','1.30','12','13','1:13.02'],['Per','8','1.55','8','0','1:51.35'],['Nelly','2','1.34','9','17','0:31.18'],['Nora','5','1.87','13','5','2:01.65']]
>>> results=str_to_number(results)
>>> results #Dette er results fra oppgave 3e
[['Name','Poker','Highjump','Balloonshooting','SausageEating','HoldBreath'],['John',8,1.67,17,23,121.65],
 ['Lisa',12,1.3,12,13,73.02],['Per',8,1.55,8,0,111.35],['Nelly',2,1.34,9,17,31.18],
 ['Nora',5,1.87,13,5,121.65]
```

In [28]:
#skriv svaret ditt her

## Oppgave 3f – Programmering (5%)

Skriv	funksjonen	**`find_data`**,	som	har	input-parametrene	**event**,	**name**	og	**results**.Parametrene	inneholder,	i	den	rekkefølgen,	en	øvelse,	deltagerens	navn	og	resultatlisten	for en	fullstendig	flerkamps-konkurranse.	Denne	listen	er	formattert	slik	som	den	returneres fra	funksjonen **`str_to_numbers`**	(i	oppgave	3e).	Navnet	på	øvelsene	og	deltagerne	er	i ukjent	rekkefølge.

Funksjonen	skal	bruke	listen	til	å	finne	resultatet	for	en	deltager	i	den	oppgitte	øvelsen,	og returnere	denne	verdien.

I	eksempelet	under	er	det	vist	hvordan	resultatet	(returverdien	fra	**`str_to_numbers`**)	ser	ut før	**`find_data`**	blir	kjørt:
```python
>>>results
[['Name','Poker','Highjump','Balloonshooting','SausageEating','HoldBreath'],['John',8,1.67,17,23,121.65],['Lisa',12,1.3,12,13,73.02],['Per',8,1.55,8,0,111.35],['Nelly',2,1.34,9,17,31.18],['Nora',5,1.87,13,5,121.65]]
>>>find_data('SausageEating','John',results)
23
```

In [29]:
#skriv koden din her

## Oppgave 3g – Programmering (5%)

Skriv	funksjonen	**`event_results`**	som	tar	inn-parametrene	**event**	og	**results**.	Parameteren event	er	en	streng	som	angir	én	bestemt	øvelse	(f.eks.	Poker),	mens	results	vil	være datastrukturen	som	returneres	av	funksjonen	**`str_to_numbers`**	(Oppgave	3e).	Funksjonen **`event_results`**	skal	returnere	en	to-dimensonal	liste,	slik	som	i	eksemplet	nedenfor.	Listen skal	være	sortert	etter	resultat	slik	at	vinneren	av	den	angitte	øvelsen	og	hans/hennesresultat	skal	kommer	først	i	listen,	mens	taperen	og	hans/hennes	resultat	kommer	sist. Du	må	gjerne	bruke	den	eksisterende	funksjonen	**`sort_list`**	hvis	du	ønsker	det.	Den	står beskrevet	i	starten	av	oppgave	3, 	men	oppsummert	sorterer	den	en	todimensjonal	liste	liste list på	elementnummer	elem.
```python
>>>sort_list([['John',8],['Lisa',12],['Per',8]],1)
[['Lisa',12],['John',8],['Per',8]]
```
```python
>>>results # Fra oppgave 3e
[['Name','Poker','Highjump','Balloonshooting','SausageEating','HoldBreath'],['John',8,1.67,17,23,121.65],['Lisa',12,1.3,12,	13,73.02],['Per',8,1.55,8,0,111.35],['Nelly',2,1.34,9,17,31.18],['Nora',5,1.87,13,5,121.65]]
>>>event_results('Poker',results)
[['Lisa',12],['John',8],['Per',8],['Nora',5],['Nelly',2]
```

In [30]:
#skriv koden din her